:root.theme-dark {
    --page-bg-color: var(--approximately-black);
    --header-text-bg-color: var(--real-red);
    --header_text-color: var(--approximately-black);
    --accent-color: var(--real-red);
    --title-color: #db00ff;
    --question-bg-color: var(--approximately-black);
    --question-color: var(--real-red);
    --advice-title-bg-color: var(--real-red);
    --advice-title-color: var(--approximately-black);
    --button-color: var(--real-red);
    --rec-color: var(--real-red);
    --border-color-opacity: #ff007066;
    --answer-title-bg-color: var(--real-red);
    --answer-title-color: var(--approximately-black);
    --answer-text-bg-color: var(--approximately-black);
    --answer-text-color: #f1b2ce;
    --deco-color: var(--real-red);
    --background-image: url("../images/cover-image-dark.png");
}

@media (prefers-color-scheme: dark) {
    :root {
        --page-bg-color: var(--approximately-black);
        --header-text-bg-color: var(--real-red);
        --header-text-color: var(--approximately-black);
        --accent-color: var(--real-red);
        --title-color: #db00ff;
        --question-bg-color: var(--approximately-black);
        --question-color: var(--real-red);
        --advice-title-bg-color: var(--real-red);
        --advice-title-color: var(--approximately-black);
        --button-color: var(--real-red);
        --rec-color: var(--real-red);
        --border-color-opacity: #ff007066;
        --answer-title-bg-color: var(--real-red);
        --answer-title-color: var(--approximately-black);
        --answer-text-bg-color: var(--approximately-black);
        --answer-text-color: #f1b2ce;
        --deco-color: var(--real-red);
        --background-image: url("../images/cover-image-dark.png");
    }

    .rec_empty::before {
        display: inline-block;
    }

    .rec_empty::after {
        display: inline-block;
    }
}

.theme-dark .rec_empty::before {
    display: inline-block;
}

.theme-dark .rec_empty::after {
    display: inline-block;
}