:root.theme-light {
    --page-bg-color: var(--almost-white-bg);
    --header-text-bg-color: var(--basic-pink);
    --header-text-color: var(--almost-black);
    --accent-color: var(--basic-pink);
    --title-color: var(--title-pink);
    --question-bg-color: var(--almost-white-bg);
    --question-color: var(--almost-black);
    --advice-title-bg-color: var(--basic-pink);
    --advice-title-color: var(--almost-black);
    --button-color: var(--almost-black);
    --border-color-opacity: #32312d66;
    --answer-title-bg-color: var(--basic-pink);
    --answer-title-color: var(--almost-black);
    --answer-text-bg-color: var(--almost-white-bg);
    --answer-text-color: var(--almost-black);
    --deco-color: var(--almost-black);
    --background-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
    :root {
        --page-bg-color: var(--almost-white-bg);
        --header-text-bg-color: var(--basic-pink);
        --header-text-color: var(--almost-black);
        --accent-color: var(--basic-pink);
        --title-color: var(--title-pink);
        --question-bg-color: var(--almost-white-bg);
        --question-color: var(--almost-black);
        --advice-title-bg-color: var(--basic-pink);
        --advice-title-color: var(--almost-black);
        --button-color: var(--almost-black);
        --border-color-opacity: #32312d66;
        --answer-title-bg-color: var(--basic-pink);
        --answer-title-color: var(--almost-black);
        --answer-text-bg-color: var(--almost-white-bg);
        --answer-text-color: var(--almost-black);
        --deco-color: var(--almost-black);
        --background-image: url("../images/cover-image-light.png");

        /* Автоматически применяет светлую тему, если пользователь предпочитает ее в настройках ОС браузера. */
    }
}

.theme-light .rec_empty::before {
    display: none;
}

.theme-light .rec_empty::after {
    display: none;
}
