
:root {
    --title-pink: #ffc2e6;
    --basic-pink: #ff8dcb;
    --approximately-black: #000028;
    --real-red: #ff0070;
    --almost-white-bg: #fff1f7;
    --almost-black: #353430;
    --header-margin-left: min(10px, 20px - 2.6vw);
    --regular-gap: 10px;
    --decoration-gap: clamp(10px, 2.65vw, 20px); /* vw - процент от ширины браузера */
    --min-height: 668px;
    --section-child-margin: 40px;
    --rec_empty_x_pos: 30px;
    --regular-font-size: 18px;
    --regular-line-height: 100%;
    --project-font-family: "IBM Plex Mono", "Arial", sans-serif;
}
